.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: cornflowerblue;
    background: #FFF;
    border: solid 3px cornflowerblue;
    border-radius: 10px;
}

.box1 h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.box1 p {
    margin: 0;
    padding: 0;
}

.text1 {
    padding: 0.5em 1em;
    margin: 1em 0;
    font-weight: bold;
    color: cornflowerblue;
    background: #FFF;
    border: solid 2px cornflowerblue;
    text-align: center;
}

.text1 h1 {
    margin: 0;
    padding: 0;
    size: 15px;
}

.text1 p {
    margin: 0;
    padding: 0;
    color: black;
}

.text2 {
    padding: 0.5em 1em;
    margin: 1em 0;
    font-weight: bold;
    color: rgb(39, 39, 39);
    background: #FFF;
    box-shadow: 0 0px 10px rgba(0,0,0,0.32);
    text-align: center;
    border-radius: 20px;
}

.text2 h1 {
    margin: 0;
    padding: 0;
    size: 15px;
}

.text2 p {
    margin: 0;
    padding: 0;
    color: black;
}

.button a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: rgb(54, 54, 54);
    font-size: 10;
    font-weight: bold;
    background-color: #ffffff;
    border-radius: 10px;
    transition: 0.3s;
    border: solid 2px black;
}

.button a::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
}

.button a:hover {
    text-decoration: none;
    box-shadow: -5px 5px 0px rgb(0, 0, 0);
}
    

